<template>
  <div class="container">
    <div class="row">
      <div class="col text-center mt-5">
        <h1 class="display-5">Iceberg Front-end Challenge</h1>
        <p class="lead">Real estate appointment management VueJs application</p>
        <a href="https://gitlab.com/ilkergonenc/iceberg-frontend-challenge">Gitlab Repo</a>
      </div>
    </div>
  </div>
</template>