<template>
  <div id="map"></div>
  <div class="card p-2" v-if="distanceAndTime" v-html="distanceAndTime"></div>
</template>

<script>
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import mapsServices from '@/services/maps.js'
import 'leaflet-routing-machine/dist/leaflet-routing-machine.css'
import 'leaflet-routing-machine'

export default {
  name: 'Map',
  props: {
    appointmentPostcode: String,
    page: String
  },
  data() {
    return {
      map: null,
      office: {
        postcode: 'CM27PJ',
        lat: null,
        lng: null
      },
      appointment: {
        postcode: null,
        lat: null,
        lng: null
      },
      theRoute: null,
      distanceAndTime: null,
      hourAndMin: null
    }
  },
  watch: { 
    appointmentPostcode: function(newVal, oldVal) {
      // console.log('Prop changed: ', newVal, ' | was: ', oldVal)
      if (oldVal != newVal) {
        this.appointment.postcode = newVal
        this.findAndDrawRoute()
      }
    },
    appointment: {
      deep: true,
      handler (val) {
        this.$emit('postcodeChangedOnClick', val.postcode)
      }
    },
    hourAndMin: {
      deep: true,
      handler (val) {
        this.$emit('hourAndMin', val)
      }
    },
  },
  created() {
    this.leafletIconFix()
    if (this.$props.page != 'create') this.appointment.postcode = this.$props.appointmentPostcode
    mapsServices.getCordinates(this.office.postcode).then((response) => {
      this.office.lat = response.lat
      this.office.lng = response.lng
      this.mapInit()
    })
  },
  onBeforeUnmount() {
    if (this.map) this.map.remove()
  },
  methods: {
    mapInit() {
      this.map = L.map('map').setView([this.office.lat, this.office.lng], 10)
      
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(this.map)

      L.marker([this.office.lat, this.office.lng]).addTo(this.map).bindPopup(this.office.postcode).openPopup()

      if (this.$props.page != 'create') this.findAndDrawRoute()
      if (this.$props.page != 'view') this.map.addEventListener('click', this.findAndDrawRouteOnClick)
    },
    findAndDrawRoute() {
      if (this.theRoute!=null) {
        this.map.removeControl(this.theRoute)
        this.theRoute = null
      }
      
      mapsServices.getCordinates(this.appointment.postcode).then((response) => {
        this.appointment.lat = response.lat
        this.appointment.lng = response.lng
        
        let marker1 = L.latLng(this.office.lat, this.office.lng)
        let marker2 = L.latLng(this.appointment.lat, this.appointment.lng)

        this.theRoute = L.Routing.control({
          waypoints: [
            marker1,
            marker2
          ],
          routeWhileDragging: true,
          show: false,
        }).addTo(this.map)
        
        let allMarkers = new L.latLngBounds([marker1, marker2])
        this.map.fitBounds(allMarkers)

        this.calculateDistanceAndTime()
      })
    },
    findAndDrawRouteOnClick(event) {
      if (this.theRoute!=null) {
        this.map.removeControl(this.theRoute)
        this.theRoute = null
      }
      this.appointment.lat = event.latlng.lat
      this.appointment.lng = event.latlng.lng
      
      mapsServices.getPostcode(event.latlng.lng, event.latlng.lat).then((response) => {
        if (response != undefined) this.appointment.postcode = response
      })

      let marker1 = L.latLng(this.office.lat, this.office.lng)
      let marker2 = L.latLng(event.latlng.lat, event.latlng.lng)

      this.theRoute = L.Routing.control({
        waypoints: [
          marker1,
          marker2
        ],
        routeWhileDragging: true,
        show: false,
      }).addTo(this.map)
      
      let allMarkers = new L.latLngBounds([marker1, marker2])
      this.map.fitBounds(allMarkers)

      this.calculateDistanceAndTime()
    },
    calculateDistanceAndTime() {
      let locations = []
      locations.push(this.office.lat +','+ this.office.lng)
      locations.push(this.appointment.lat +','+ this.appointment.lng)
      mapsServices.getDistanceAndTime(locations).then(response => {
        this.distanceAndTime = 'Distance: ' + response.distance + ' & Estimated time: ' + response.time
        this.hourAndMin = response.hourAndMin
      })
    },
    leafletIconFix() {
      delete L.Icon.Default.prototype._getIconUrl
      L.Icon.Default.mergeOptions({
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
        iconUrl: require('leaflet/dist/images/marker-icon.png'),
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
      })
    },
    
  },
}
</script>

<style>
#map {
  width: 100%;
  min-height: 50vh;
  height: 100%;
}
</style>