<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Iceberg</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Dashboard</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/appointments">Appointments</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/appointments/create">Create appointment</router-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Agents
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><router-link 
                class="dropdown-item" 
                v-for="agent in agents" 
                :key="agent" 
                :to="{ name: 'AgentAppointments', params: { id: agent.id }}"
                >{{ agent.fields.agent_name }} {{ agent.fields.agent_surname }}
              </router-link></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import airTable from '@/services/airtable.js'
export default {
  name: 'NavMain',
  data() {
    return {
      agents: []
    }
  },
  created () {
    this.getAgents()
  },
  methods: {
    getAgents() {
      airTable.select('Agents', {view: 'Grid view'})
      .then(response => {
        response.data.records.forEach(record => {
          this.agents.push(record)
        })
      })
      .catch(e => { console.error(e) })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

