<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <FormAppointment 
          :form-title="formTitle" 
          :form-response="formSubmitStatus" 
          :mapPostcode="mapPostcode" 
          :hourAndMin="hourAndMin" 
          @on-submit="createAppointment" 
          @postcodeChanged="postcodeChanged"
        />
      </div>
      <div class="col-lg-6">
        <Map 
          :page="page" 
          :appointmentPostcode="appointmentPostcode" 
          @postcodeChangedOnClick="postcodeChangedOnClick"
          @hourAndMin="setHourAndMin"
        />
      </div>
    </div>
  </div>
</template>
<script>
import airTable from '@/services/airtable.js'
import FormAppointment from '@/components/Appointments/Form.vue'
import Map from '@/components/Map.vue'
export default {
  components: {
    FormAppointment,
    Map
  },
  data () {
    return {
      formTitle: 'Create Appointment',
      formSubmitStatus: null,
      page: 'create',
      appointmentPostcode: null,
      mapPostcode: null,
      hourAndMin: null
    }
  },
  methods: {
    createAppointment(FormAppointment) {
      let postObj = this.createPostObject(FormAppointment)
      airTable
      .create('Appointments', postObj)
      .then(response => {
        console.log(response)
        this.formSubmitStatus = { status: 200, msg: 'Appointment created succesfully' }
      })
      .catch(e => { console.error(e) })
    },
    createPostObject(form) {
      let postObj = {
        fields: {
          appointment_date: form.date,
          appointment_postcode: form.postcode,
          contact_id: [],
          agent_id: []
        }
      }
      postObj.fields.contact_id.push(form.contact)
      postObj.fields.agent_id.push(form.agent)
      return postObj
    },
    postcodeChanged(postcode) {
      this.appointmentPostcode = postcode
    },
    postcodeChangedOnClick(postcode) {
      this.mapPostcode = postcode
    },
    setHourAndMin (time) {
      this.hourAndMin = time
    }
  }
}
</script>

<style>
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h5, h6 {
    margin-bottom: 0;
  }
</style>