<template>
  <div class="container">
    <div class="row">
      <div class="col" v-if="loading">Loading ...</div>
      <div v-else>
        <div class="col" v-if="error">{{ error }}</div>
        <div class="col" v-if="appointment">
          <div class="row">
            <div class="col-lg-6">
              <CardAppointment 
                :appointment="appointment" 
                :hourAndMin="hourAndMin" 
              />
            </div>
            <div class="col-lg-6">
              <Map 
                :page="page" 
                :appointmentPostcode="appointmentPostcode" 
                @hourAndMin="setHourAndMin" 
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import airTable from '@/services/airtable.js'
import CardAppointment from '@/components/Appointments/Card.vue'
import Map from '@/components/Map.vue'
export default {
  components: { 
    CardAppointment,
    Map
 },
  data () {
    return {
      loading: false,
      error: null,
      appointment: null,
      appointmentPostcode: null,
      page: 'view',
      hourAndMin: null
    }
  },
  created () {
    this.fetchData(this.$route.params.id)
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData (getId) {
      this.loading = true
      airTable
        .find('Appointments', getId)
        .then(async (response) => {
          const data = response.data.fields
          let resObj = {
            linkTo: response.data.id,
            id: data.appointment_id,
            status: (Date.now() < Date.parse(data.appointment_date)) ? 'Coming' : 'Past',
            date: data.appointment_date,
            postcode: data.appointment_postcode,
          }
          if (data.agent_id) await airTable.getFullName('Agents', data.agent_id).then(r => { resObj.agent = r }) 
          if (data.contact_id) await airTable.find('Contacts', data.contact_id).then(r => { resObj.contact = r.data.fields })
            
          this.loading = false
          this.appointment = resObj
          this.appointmentPostcode = data.appointment_postcode
        })
        .catch(e => {
          this.loading = false 
          this.error = e
        })
    },
    setHourAndMin (time) {
      this.hourAndMin = time
    }
  }
}
</script>

<style>
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h5, h6 {
    margin-bottom: 0;
  }
</style>