<template lang="pug">
header 
  NavMain 
main 
  router-view 
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap/dist/js/bootstrap.bundle.js'
import 'bootstrap-icons/font/bootstrap-icons.css'

import NavMain from '@/components/NavMain.vue'

export default {
  components: {
    NavMain
  }
}
</script>

<style land="scss">
  header, main {
    margin-bottom: 1rem;
  }
</style>
