<template>
  <div class="card">
    <div class="card-header flex-between">
      <h5>Appointment #{{ appointment.id }}</h5>
      <router-link class="btn btn-sm btn-primary" :to="{ name: 'UpdateAppointment', params: { id: appointment.linkTo }}">
        <i class="bi bi-pencil-square me-2"></i><span>Edit</span>
      </router-link>
    </div>
    <!--
    <div class="card-body">{{ appointment }}</div>
    -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item flex-between">
        <h6>Appointment info</h6>
      </li>
      <li class="list-group-item flex-between">
        <span>Date</span>
        <span>{{ $filters.moment(appointment.date) }}</span>
      </li>
      <li class="list-group-item flex-between">
        <span>Postcode</span>
        <span>{{ appointment.postcode }}</span>
      </li>
      <li class="list-group-item flex-between">
        <span>Agent</span>
        <span>{{ appointment.agent }}</span>
      </li>
      <li class="list-group-item flex-between">
        <h6>Contact info</h6>
      </li>
      <li class="list-group-item flex-between">
        <span>Name</span>
        <span>{{ appointment.contact.contact_name }} {{ appointment.contact.contact_surname }}</span>
      </li>
      <li class="list-group-item flex-between">
        <span>Email</span>
        <span>{{ appointment.contact.contact_email }}</span>
      </li>
      <li class="list-group-item flex-between">
        <span>Phone</span>
        <span>{{ appointment.contact.contact_phone }}</span>
      </li>
      <li class="list-group-item flex-between">
        <h6>Estimated time schedule</h6>
      </li>
      <li class="list-group-item flex-between">
        <span>Departure</span>
        <span>{{ timeToLeave }}</span>
      </li>
      <li class="list-group-item flex-between">
        <span>Arrivel</span>
        <span>{{ timeToArrive }}</span>
      </li>
    </ul>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  props: {
    appointment: Object,
    hourAndMin: Object
  },
  computed: {
    timeToLeave (){
      return moment(this.$props.appointment.date).subtract(this.$props.hourAndMin).format('MMM Do, hh:mm A')
    },
    timeToArrive (){
      return moment(this.$props.appointment.date).add(1, 'hours').add(this.$props.hourAndMin).format('MMM Do, hh:mm A')
    },
  }
}
</script>