<template>
  <form @submit.prevent="$emit('on-submit', form)">
    <div class="alert alert-dismissible fade" v-if="alert" :class="alert" role="alert">
      <p class="mb-0" v-html="alertMsg"></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="h3 fw-normal mb-0">{{ formTitle }}</h5>
      </div>
      <div class="card-body">
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="appointmentPostalCode" class="form-label">Postcode</label>
            <input type="text" class="form-control" id="appointmentPostcode" name="postcode" v-model="form.postcode" @change="$emit('postcodeChanged', $event.target.value)">
          </div>
          <div class="col-md-6">
            <label for="appointmentDate" class="form-label">Date</label>
            <input type="datetime-local" class="form-control" id="appointmentDate" name="date" v-model="form.date">
          </div>
        </div>
        <div class="mb-3">
          <label for="appointmentContact" class="form-label">Contact</label>
          <select id="appointmentContact" class="form-select" name="contact" v-model="form.contact" aria-label="Default select example">
            <option :value="item.id" :selected="form.contact == item.id" v-for="item in contacts" v-bind:key="item">{{ item.fields.contact_name }} {{ item.fields.contact_surname }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="appointmentAgent" class="form-label">Agent</label>
          <select id="appointmentAgent" class="form-select" name="agent" v-model="form.agent" aria-label="Default select example">
            <option :value="item.id" :selected="form.agent == item.id" v-for="item in agents" v-bind:key="item">{{ item.fields.agent_name }} {{ item.fields.agent_surname }}</option>
          </select>
        </div>
      </div>
      <ul v-if="hourAndMin" class="list-group list-group-flush border-bottom-0">
        <li class="list-group-item flex-between">
          <h6>Estimated time schedule</h6>
        </li>
        <li class="list-group-item flex-between">
          <span>Departure</span>
          <span>{{ timeToLeave }}</span>
        </li>
        <li class="list-group-item flex-between">
          <span>Arrivel</span>
          <span>{{ timeToArrive }}</span>
        </li>
      </ul>
      <input v-if="formTitle=='Update Appointment'" type="hidden" v-model="form.id"/>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary float-end">{{ formTitle }}</button>
      </div>
    </div>
  </form>
</template>

<script>
import airTable from '@/services/airtable.js'
import moment from 'moment'
export default {
  name: 'FormAppointment',
  props: {
    appointment: Object,
    formTitle: String,
    formResponse: Object,
    mapPostcode: String,
    hourAndMin: Object
  },
  data() {
    return {
      agents: [],
      contacts: [],
      form: {
        id: this.appointment?.id || "",
        postcode: this.appointment?.postcode || "",
        date: this.appointment?.date || "",
        contact: this.appointment?.contact || "",
        agent: this.appointment?.agent || "",
      },
      alert: null,
      alertMsg: null
    }
  },  
  watch: {
    formResponse: function(val) {
      if (val.status == 200) {
        this.alert = 'alert-success show'
        this.alertMsg = val.msg
      } else {
        this.alert = 'alert-warning show'
        this.alertMsg = 'Uppps! Something went wrong. :('
      }
      setTimeout(()=>{
        this.alert = null
      }, 5000)
    },
    mapPostcode: function(val) {
      this.form.postcode = val
    }
  },
  created () {
    this.getAgents()
    this.getContacts()
  },
  methods: {
    getAgents() {
      airTable.select('Agents', {view: 'Grid view'})
      .then(response => {
        response.data.records.forEach(record => {
          this.agents.push(record)
        })
      })
      .catch(e => { console.error(e) })
    },
    getContacts() {
      airTable.select('Contacts', {view: 'Grid view'})
      .then(response => {
        response.data.records.forEach(record => {
          this.contacts.push(record)
        })
      })
      .catch(e => { console.error(e) })
    },
  },
  computed: {
    timeToLeave (){
      return moment(this.form.date).subtract(this.$props.hourAndMin).format('MMM Do, hh:mm A')
    },
    timeToArrive (){
      return moment(this.form.date).add(1, 'hours').add(this.$props.hourAndMin).format('MMM Do, hh:mm A')
    },
  }
}
</script>