<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col" v-on:click="sort('date')">
          Appointment Date <i v-if="sortBy!='agent'" class="bi" :class="(sortDir=='desc') ? 'bi-caret-down' : 'bi-caret-up'"></i>
        </th>
        <th scope="col">Appointment Postcode</th>
        <th scope="col" v-on:click="sort('agent')">
          Agent Name <i v-if="sortBy=='agent'" class="bi" :class="(sortDir=='desc') ? 'bi-caret-down' : 'bi-caret-up'"></i>
        </th>
        <th scope="col">Contact Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in sortedAppointments" v-bind:key="item">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.status }}</td>
        <td>{{ $filters.moment(item.date) }}</td>
        <td>{{ item.postcode }}</td>
        <td>{{ item.agent }}</td>
        <td>{{ item.contact }}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
            <router-link class="btn btn-info" title="View" :to="{ name: 'ViewAppointment', params: { id: item.linkTo }}">
              <i class="bi bi-eye"></i><span class="visually-hidden">View</span>
            </router-link>
            <router-link class="btn btn-warning" title="Edit" :to="{ name: 'UpdateAppointment', params: { id: item.linkTo }}">
              <i class="bi bi-pencil-square"></i><span class="visually-hidden">Edit</span>
            </router-link>
            <!--
            <button type="button" class="btn btn-danger" title="Delete">
              <i class="bi bi-trash"></i><span class="visually-hidden">Delete</span>
            </button>
            -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    appointments: Array,
    count: Number
  },
  data () {
    return {
      countIn: 0,
      sortBy: null,
      sortDir: 'desc'
    }
  },
  watch: {
    countIn: {
      deep: true,
      handler (value) {
        if (value == this.$props.count) {
          this.sortBy = 'date'
        }
      }
    }
  },
  mounted() {
    this.countIn = this.$props.appointments.length
  },
  methods: {
    sort(sortType) {
      if (sortType === this.sortBy) this.sortDir = this.sortDir === 'asc' ? 'desc' : 'asc' 
      this.sortBy = sortType
    },
    sortedAppointmentsArray(array) {
      return array.sort((a,b) => {
        let modifier = 1
        if(this.sortDir == 'desc') modifier = -1
        if (a[this.sortBy] < b[this.sortBy]) return -1 * modifier
        if (a[this.sortBy] > b[this.sortBy]) return 1 * modifier
        return 0
      })
    }
  },
  computed: {
    sortedAppointments() {
      return this.sortedAppointmentsArray(this.$props.appointments)
    }
  }
}
</script>